body {
    background-color: rgb(230,230,230);
    font-family: "Nunito", sans-serif;
}

body {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#question {
    font-size: 3rem;
}

footer {
    opacity: 10%;
    transition: 200ms opacity;
}

footer:hover {
    opacity: 1;
}